/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

// HEADER
.flow-container {
  width: 1366px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3%;
}
// HEADER

// MAIN

.main-content__hero {
  background: url(/d-element-frontend-test/assets/img/background1.svg) no-repeat
    center;
  padding: 0 0 0 16%;
  background-size: cover;
  min-height: 585px;
}
.main-content__heroText {
  margin-top: 8%;
  width: 50%;
  min-height: 300px;
}
.main-content__heroIllistration-img {
  position: absolute;
  left: 49%;
  top: 13%;
}
.main-content__heroText-p {
  padding: 7% 21% 13% 0%;
}

.main-content__whatWeDo,
.main-content__ourClient-wrapper,
.footer-wrapper {
  padding: 0 15%;
}
.main-content__whatWeDo {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content__ourClient {
  background: url(/d-element-frontend-test/assets/img/background2.svg) no-repeat;
  min-height: 1527px;
  margin-top: 15%;
}

.main-content__ourClient_ourBelovedClient {
  padding-top: 11.5%;
}
.main-content__ourClient_ourBelovedClient_text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.main-content__ourClient_ourBelovedClient_text-h {
  width: 223px;
}
.main-content__ourClient_ourBelovedClient_text-p {
  max-width: 540px;
  margin-right: 7%;
}
.main-content__ourClient_ourBelovedClient_table {
  margin-top: 11%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  width: 940px;
  height: 256px;
}
.main-content__ourClient_workTeam {
  background: url(/d-element-frontend-test/assets/img/background3.svg) no-repeat;
  min-height: 869px;
  margin-top: 9%;
}

.main-content__ourClient_workTeam-container {
  padding-top: 10%;
  padding-right: 7%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.main-content__ourClient_workTeam_text {
  max-width: 460px;
}
.main-content__ourClient_workTeam_textP {
  margin-top: 5%;
}

// MAIN

// FOOTER
.footer__line {
  position: absolute;
  margin-top: -5%;
}
.footer-wrapper {
  margin-top: -30%;
  margin-right: 14%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__contacts {
  max-width: 300px;
}
.footer__contacts-list {
  padding: 0%;
}
.footer__contacts-list-item {
  padding-top: 9%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.footer__contacts-list-item-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.footer__aboutUs,
.footer__followUs {
  max-width: 220px;
}
.footer__aboutUs-list,
.footer__followUs-list {
  padding-top: 27px;
}
.footer__aboutUs-list-item,
.footer__followUs-list-item {
  padding-bottom: 22px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

// FOOTER
