.main-content__whatWeDo-textForm {
  max-width: 50%;
  margin-top: 12%;
}

.main-content__whatWeDo-textForm-text {
  padding-right: 10%;
}
.main-content__whatWeDo-formsContainer1,
.main-content__whatWeDo-formsContainer2 {
  height: 525px;
  width: 380px;
  box-shadow: 10px 10px 25px rgba(90, 152, 208, 0.2);
}
.main-content__whatWeDo-formsContainer1 {
  margin: 33% 0 0 19%;
}
.main-content__whatWeDo-formsContainer2 {
  margin-top: 30%;
}
.formsWrapper {
  display: block;
  margin: 50px;
}

.formsImg {
  height: 160px;
  width: 280px;
  margin: 5% auto;
}
.formsH {
  margin-top: 16%;
}
.formsText {
  margin-top: 10%;
}
.formsContainerButtonGroup {
  margin-top: 10%;
  cursor: pointer;
}
.strelka-right-4 {
  height: 10px;
}
